USE [Otel]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_OUT]    Script Date: 4.02.2025 13:48:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[CHECK_OUT]
@ODA_NO AS TINYINT
AS

-- odada biri var mı?
IF (SELECT Kisi_Sayisi FROM Odalar WHERE Oda_No = @ODA_NO ) = 0
BEGIN
	RAISERROR('Boş Odaya check-out işlemi gerçekleştirilmez',16,1)
	RETURN
END
-- rezervasyonlular, rezervasyon sırasında ödeme yaptığı için ceheck-out sırasında ödeme gerekmşyor. 
DECLARE @MUSTERI_ID AS INT
SET @MUSTERI_ID = (SELECT TOP 1 Musterı_Id FROM Musteri WHERE Oda_No=@ODA_NO AND DATEDIFF(YEAR,Dogum_Tarihi,GETDATE()) >= 18 AND Aktif = 1 )
DECLARE @HIZMETLER AS FLOAT
DECLARE @TUTAR AS FLOAT
-- if sorgusunda çıkış yapacak kişinin ödeme yapıp yapmadığı kontrol ediliyor
IF (NOT EXISTS(SELECT 1 FROM ODEMELER WHERE MUSTERI_ID = @MUSTERI_ID))
BEGIN
	DECLARE @GIRIS AS DATETIME
	DECLARE @CIKIS AS DATETIME
	DECLARE @EKYATAK AS TINYINT
	-- musteri tablosundan ücret hesaplamak için gerekli olan alanlar alınıyor ve çıkış tarihi giriliyor.
	SELECT @GIRIS=Giris_Tarihi FROM Musteri
	WHERE Musterı_Id = @MUSTERI_ID
	
	SELECT @EKYATAK=Adet FROM MusteriHizmet 
	WHERE Oda_No = 1 AND Hizmetid = 1
	

	SET @CIKIS = GETDATE()
	-- fonksiyon aracılığıyla ücret hesaplanıyor
	SET @HIZMETLER = (SELECT SUM(H.Birim_tutar * M.Adet)
		FROM MusteriHizmet M 
		JOIN Hizmetler H ON H.Hizmetid = M.Hizmetid  
		WHERE Musteri_id = @MUSTERI_ID)
	SET @TUTAR = (SELECT dbo.UCRET(0,@ODA_NO, DATEDIFF(DAY,@GIRIS, @CIKIS), @EKYATAK)) + IIF(@HIZMETLER IS NULL,0,@HIZMETLER)
	-- ödemeler tablosuna ödeme yapıldığına dair kayıt giriliyor.
	INSERT INTO ODEMELER(MUSTERI_ID,TUTAR)
	VALUES (@MUSTERI_ID, @TUTAR)
	PRINT CONCAT_WS(' ', 'ööööö TUTAR', @TUTAR, 'TL')
END
ELSE
BEGIN
	SET @HIZMETLER = (SELECT SUM(H.Birim_tutar * M.Adet) 
		FROM MusteriHizmet M 
		JOIN Hizmetler H ON H.Hizmetid = M.Hizmetid  
		WHERE Musteri_id = 46 
		AND H.Hizmetid <> 1 )
	SET @TUTAR = (SELECT dbo.UCRET(0,@ODA_NO, DATEDIFF(DAY,@GIRIS, @CIKIS), @EKYATAK)) + IIF(@HIZMETLER IS NULL,0,@HIZMETLER)
	IF (@TUTAR = 0)
	BEGIN
		PRINT ('Ekstra ödeme yok!')
	END
	ELSE
	BEGIN
		PRINT CONCAT_WS(' ', 'aaaa TUTAR', @TUTAR, 'TL')
	END
END
-- oda durumu güncelleniyor
UPDATE Odalar
SET Oda_Durumu=1, Kisi_Sayisi = 0
WHERE Oda_No=@ODA_NO

-- müsteriler pasif(silinmis) durumuna alıınıyor
UPDATE Musteri SET Aktif = 0, Cikis_Tarihi = GETDATE()
WHERE Oda_No = @ODA_NO AND Aktif = 1 AND Giris_Tarihi IS NOT NULL

