USE [Otel]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_OUT]    Script Date: 7.02.2025 22:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[CHECK_OUT]
@ODA_NO AS TINYINT
AS

-- odada biri var mı?
IF (SELECT Kisi_Sayisi FROM Odalar WHERE Oda_No = @ODA_NO ) = 0
BEGIN
	RAISERROR('Boş Odaya check-out işlemi gerçekleştirilmez',16,1)
	RETURN
END
-- rezervasyonlular, rezervasyon sırasında ödeme yaptığı için ceheck-out sırasında ödeme gerekmşyor. 
DECLARE @MUSTERI_ID AS INT
SET @MUSTERI_ID = (SELECT TOP 1 Musterı_Id FROM Musteri WHERE Oda_No=1 AND DATEDIFF(YEAR,Dogum_Tarihi,GETDATE()) >= 18 AND Giris_Tarihi IS NOT NULL AND Cikis_Tarihi IS NULL)
DECLARE @HIZMETLER AS FLOAT
DECLARE @TUTAR AS FLOAT
DECLARE @GIRIS AS DATETIME
SELECT @GIRIS=Giris_Tarihi FROM Musteri
WHERE Musterı_Id = @MUSTERI_ID AND Aktif=1
DECLARE @CIKIS AS DATETIME
SET @CIKIS = GETDATE()
DECLARE @EKYATAK AS TINYINT
SELECT @EKYATAK=Adet FROM MusteriHizmet 
WHERE Oda_No = @ODA_NO AND Hizmetid = 1
-- if sorgusunda çıkış yapacak kişinin ödeme yapıp yapmadığı kontrol ediliyor
IF (NOT EXISTS(SELECT 1 FROM ODEMELER WHERE MUSTERI_ID = @MUSTERI_ID))
BEGIN
	-- fonksiyon aracılığıyla ücret hesaplanıyor
	SET @HIZMETLER = (SELECT SUM(H.Birim_tutar * M.Adet)
		FROM MusteriHizmet M 
		JOIN Hizmetler H ON H.Hizmetid = M.Hizmetid  
		WHERE Musteri_id = @MUSTERI_ID AND H.Hizmetid <> 1 )
	SET @TUTAR = (SELECT dbo.UCRET(0,@ODA_NO, DATEDIFF(DAY,@GIRIS, @CIKIS), @EKYATAK)) + IIF(@HIZMETLER IS NULL,0,@HIZMETLER)
	-- ödemeler tablosuna ödeme yapıldığına dair kayıt giriliyor.
	INSERT INTO ODEMELER(MUSTERI_ID,TUTAR)
	VALUES (@MUSTERI_ID, @TUTAR)
	PRINT CONCAT_WS(' ', 'TUTAR', @TUTAR, 'TL')
END
ELSE
BEGIN
	SET @HIZMETLER = (SELECT SUM(H.Birim_tutar * M.Adet) 
		FROM MusteriHizmet M 
		JOIN Hizmetler H ON H.Hizmetid = M.Hizmetid  
		WHERE Musteri_id = @MUSTERI_ID 
		AND H.Hizmetid <> 1 )
	SET @TUTAR = (SELECT TUTAR FROM ODEMELER WHERE MUSTERI_ID=@MUSTERI_ID) + IIF(@HIZMETLER IS NULL,0,@HIZMETLER)
	IF (@TUTAR = (select O.TUTAR from ODEMELER O JOIN RezMusteri R ON R.Musteri_Id= O.MUSTERI_ID WHERE Oda_No = @ODA_NO))
	BEGIN
		PRINT ('Ekstra ödeme yok!')
	END
	ELSE
	BEGIN
		PRINT CONCAT_WS(' ', 'TUTAR', @HIZMETLER, 'TL')
	END
END
-- oda durumu güncelleniyor
UPDATE Odalar
SET Oda_Durumu=1, Kisi_Sayisi = 0
WHERE Oda_No=@ODA_NO

-- müsteriler pasif(silinmis) durumuna alıınıyor
UPDATE Musteri SET Aktif = 0, Cikis_Tarihi = GETDATE()
WHERE Oda_No = @ODA_NO AND Aktif = 1 AND Giris_Tarihi IS NOT NULL

SELECT * FROM Musteri

