USE [Otel]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_IN]    Script Date: 7.02.2025 22:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[CHECK_IN]
@REZ_ID AS INT =  NULL,
@ISIM AS VARCHAR(50) = NULL,
@SOYISIM AS VARCHAR(50) = NULL,
@TCNO AS CHAR(13),
@DOGUM_TARIH AS DATE = NULL,
@CINSIYET AS BIT = NULL,
@TELEFON AS CHAR(14) = NULL,
@MAIL AS VARCHAR(100) = NULL,
@ODA_NO AS TINYINT = NULL,
@KISI AS TINYINT= NULL,
@EK_YATAK AS TINYINT = 0,
@KAYIT_VAR_MI bit = null

AS
IF @REZ_ID IS NOT NULL
BEGIN
	-- @REZ_ODANO Rezervasyonda belirtilen oda numarasını ifade ediyor
	DECLARE @REZ_ODANO AS TINYINT = (SELECT Oda_No FROM Rezervasyonlar WHERE Rez_Id=@REZ_ID)


	IF @TCNO NOT IN(SELECT M.Tc_No FROM RezMusteri R JOIN Musteri M ON M.Musterı_Id=R.Musteri_Id WHERE R.Rez_Id=@REZ_ID)
			BEGIN 
				RAISERROR('Rezervasyon ile TC uyuşmuyor',16,1)
				return
			END
	-- GİRİLEN TC REZERVASYONA MI AİT?
	--IF (SELECT O.Kisi_Sayisi FROM Odalar O JOIN Rezervasyonlar R ON R.Oda_No = O.Oda_No WHERE R.Rez_Id = @REZ_ID) = 0
	--BEGIN
	--	DECLARE @RezTC AS VARCHAR(11) = (SELECT M.Tc_No FROM Rezervasyonlar R JOIN Musteri M ON M.Musterı_Id = R.Musterı_Id WHERE M.Tc_No=@TCNO AND R.Oda_No = @REZ_ODANO)
	--	IF @RezTC IS NULL 
	--	BEGIN 
	--		RAISERROR('Rezervasyon ile TC uyuşmuyor',16,1)
	--		return
	--	END
	--END

	-- REZERVASYON TARİHİ GELDİ Mİ
	DECLARE @REZ_BASLANGIC AS DATE = (SELECT Rez_baslangic FROM Rezervasyonlar WHERE Rez_Id = @REZ_ID)
	IF ( @REZ_BASLANGIC > CONVERT(DATE,GETDATE()))
	BEGIN 
		DECLARE @KAC_GUN_VAR AS VARCHAR(70) = 'Rezervasyon başlangıç tarihiniz ' + CONVERT(VARCHAR(10),DATEDIFF(DAY,GETDATE(),@REZ_BASLANGIC)) + ' gün sonra.'
		RAISERROR(@KAC_GUN_VAR, 16,1)
		return
	END
	
	
	-- Oda durumu kontrol ediliyor
	IF (SELECT Oda_Durumu FROM Odalar WHERE Oda_No=@REZ_ODANO) = 1
		BEGIN
		-- Rezervasyonlu kişilerin giriş tarihleri alınıp müşteriler tablosundaki giris tarihi kolonuna güncelleme yapılıyor.
		-- Aynı rezervasyona sahip birden fazla kişi ayrı zamanlarda odaya giriş yapabileceği için ayrıca tcno ile de ilişkilendirildi.
		UPDATE Musteri 
		SET Giris_Tarihi=GETDATE(), Aktif = 1
		WHERE Oda_No = @REZ_ODANO AND Tc_No = @TCNO
		-- Odadaki kisi sayısı güncelleniyor
		UPDATE Odalar
		SET Kisi_Sayisi = Kisi_Sayisi + 1
		WHERE Oda_No = @REZ_ODANO
		-- @REZ_KISI rezervasyonda belirtilen kişi sayısını, @ODA_KISI odada güncel olarak bulunan kişi sayısını ifade ediyor.
		DECLARE @REZ_KISI AS TINYINT
		DECLARE @ODA_KISI AS TINYINT
		SELECT @REZ_KISI=R.Kisi_Sayisi,@ODA_KISI=O.Kisi_Sayisi FROM Odalar O JOIN Rezervasyonlar R ON R.Oda_No = O.Oda_No WHERE R.Rez_Id=@REZ_ID
		IF ((SELECT Kisi_Sayisi FROM Odalar WHERE Oda_No = @ODA_NO) = 1)
		BEGIN
			UPDATE Musteri SET Kisi_sayisi=@REZ_KISI WHERE Tc_No = @TCNO AND Aktif = 1
		END
		-- eğer bu iki değer birbirine eşitlenmişse odanın durumu 0 (müsait değil) olarak güncelleniyor
		IF ( @ODA_KISI = @REZ_KISI )
		BEGIN
			UPDATE Odalar
			SET Oda_Durumu = 0
			WHERE Oda_No = (SELECT Oda_No FROM Rezervasyonlar WHERE @REZ_ID = Rez_Id)
		END
		DECLARE @RESULT AS VARCHAR(100) = (SELECT Isim + ' '+Soyisim + ' Oda No:' + CONVERT(VARCHAR(3),R.Oda_No)  FROM Rezervasyonlar R  JOIN Musteri M ON M.Musterı_Id=R.Musterı_Id WHERE Rez_Id=1 )
		SELECT @RESULT
	END
	ELSE
		BEGIN
			RAISERROR('Oda dolu!',16,1)
		END
END

ELSE
-- Rezervasyonu olmayan müşetirinin kontrolleri
BEGIN
	-- oda durumu ve giriş yapılmaya çalışılan tarihte rezervasyon var mı diye bakılıyor.
	IF ( (SELECT Oda_Durumu FROM Odalar WHERE Oda_No = @ODA_NO) = 1 AND
	NOT EXISTS(SELECT Oda_No FROM Rezervasyonlar WHERE GETDATE() BETWEEN Rez_baslangic AND Rez_bitis AND @ODA_NO = Oda_No) )
	BEGIN
		-- Yine ayrı ayrı kayıtlar veya girişler yapabilmek için @KISI ile odanın durumu kontrol ediliyor
		-- İlk girenden sonrakiler kişi sayısını tekrar belirtmek zorunda olmasın diye ilk girenin belirttiği kişi sayısı baz alınıyor
		IF @KISI IS NULL
		BEGIN
			SET @KISI = (SELECT DISTINCT Kisi_sayisi FROM Musteri WHERE Oda_No=@ODA_NO AND Kisi_sayisi IS NOT NULL)
			INSERT INTO Musteri(Tc_No, Isim, Soyisim, Dogum_Tarihi, Cinsiyet, Telefon, E_mail , Oda_No, Giris_Tarihi,Aktif)
			VALUES(@TCNO, @ISIM, @SOYISIM,@DOGUM_TARIH, @CINSIYET, @TELEFON, @MAIL, @ODA_NO, GETDATE(),1)
		END
		ELSE
		BEGIN
			-- Müşteri tablosuna bilgiler ekleniyor
			INSERT INTO Musteri(Tc_No, Isim, Soyisim, Dogum_Tarihi, Cinsiyet, Telefon, E_mail , Oda_No, Giris_Tarihi, Kisi_sayisi,Aktif)
			VALUES(@TCNO, @ISIM, @SOYISIM,@DOGUM_TARIH, @CINSIYET, @TELEFON, @MAIL, @ODA_NO, GETDATE(), @KISI,1)
			DECLARE @MUSTERID AS INT = SCOPE_IDENTITY()
			INSERT INTO MusteriHizmet(Musteri_id,Oda_No,Hizmetid,Adet)
			VALUES(@MUSTERID, @ODA_NO, 1, @EK_YATAK)
		END
		
		-- Odadaki kişi sayısı güncelleniyor
		UPDATE Odalar
		SET Kisi_Sayisi = Kisi_Sayisi + 1
		WHERE Oda_No = @ODA_NO

		SET @ODA_KISI = (SELECT Kisi_Sayisi FROM Odalar WHERE Oda_No = @ODA_NO)
		-- Odadaki kişi ile kalan kişi sayısı eşitlenşnce oda durumu 0'a çevriliyor
		IF ( @ODA_KISI = @KISI )
		BEGIN
			UPDATE Odalar
			SET Oda_Durumu = 0
			WHERE @ODA_NO = Oda_No
		END
	END
	ELSE
	BEGIN
		RAISERROR('Belirtilen oda dolu!',16,1)
	END
END

