USE [Otel]
GO
/****** Object:  StoredProcedure [dbo].[REZERVASYON]    Script Date: 7.02.2025 22:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[REZERVASYON]
@ISIM AS VARCHAR(500),
@SOYISIM AS VARCHAR(500),
@TCNO AS VARCHAR(500),
@DOGUM_TARIH VARCHAR(500),
@CINSIYET VARCHAR(500),
@TELEFON AS VARCHAR(200),
@MAIL AS VARCHAR(100)=NULL,
@ODA_NO AS TINYINT=NULL,
@TARIH AS DATETIME=NULL,
@BASLANGICTARIHI AS DATE,
@BITISTARIHI AS DATE,
@KISI AS TINYINT,
@EK_YATAK AS TINYINT = 0
AS

DECLARE @ODA_KISI AS TINYINT
DECLARE @ODA_DURUM AS BIT
SELECT @ODA_KISI=Kisi_Sayisi, @ODA_DURUM=Oda_Durumu FROM Odalar WHERE Oda_No = @ODA_NO 
-- @ODA_KISI ile birlikte bir odada birden fazla kişi kalacksa ayrı bir şekilde kayıt işleminin gerçekleşebilmesi için bunun kontrolü,
--  MUSAITODA fonksiyonu ile odanın müsaitlik durumu ve en sonunda da aynı tarihler arasında odaya başka bir rezervasyon olup olmadığının kontrolü yapılır.
IF ( ( @ODA_KISI = 0 AND EXISTS(SELECT * FROM dbo.MUSAITODA(@KISI, @BASLANGICTARIHI, @BITISTARIHI, @EK_YATAK))))
BEGIN
	-- Birden fazla kişinin kalacak olması ihtimaline karşı bu kişilerin önemli bilgileri ayrı ayrı müşteriler tablosuna kaydedilirken tek bir rezervasyon oluşuyor
	CREATE TABLE #ISIM(ID INT IDENTITY(1,1),DEGER VARCHAR(50))
	CREATE TABLE #SOYISIM(ID INT IDENTITY(1,1),DEGER VARCHAR(50))
	CREATE TABLE #TCNO(ID INT IDENTITY(1,1),DEGER CHAR(11))
	CREATE TABLE #DOGUM(ID INT IDENTITY(1,1),DEGER DATE)
	CREATE TABLE #CINSIYET(ID INT IDENTITY(1,1),DEGER BIT)
	CREATE TABLE #TEL(ID INT IDENTITY(1,1), DEGER CHAR(15))
	CREATE TABLE #MAIL(ID INT IDENTITY(1,1),DEGER VARCHAR(50))
	
	INSERT INTO #ISIM(DEGER) SELECT VALUE FROM string_split(@ISIM,',')
	INSERT INTO #SOYISIM(DEGER) SELECT VALUE FROM string_split(@SOYISIM,',')
	INSERT INTO #TCNO(DEGER) SELECT CONVERT(CHAR(11),VALUE) FROM string_split(@TCNO,',')
	INSERT INTO #DOGUM(DEGER) SELECT CONVERT(DATE,VALUE,104) FROM string_split(@DOGUM_TARIH,',')
	INSERT INTO #CINSIYET(DEGER) SELECT CONVERT(BIT,VALUE) FROM string_split(@CINSIYET,',')
	INSERT INTO #TEL(DEGER) SELECT CONVERT(CHAR(13), VALUE) FROM string_split(@TELEFON,',')
	INSERT INTO #MAIL(DEGER) SELECT IIF(VALUE=' ' ,NULL,VALUE) FROM string_split(@MAIL,',')

	DECLARE @I AS INT = 0
	WHILE @I < @KISI
	BEGIN	
		-- Müsteri tablosuna kayıtların eklenmesi
		INSERT INTO Musteri(Tc_No, Isim, Soyisim,  Dogum_Tarihi, Cinsiyet, Telefon, E_mail,  Oda_No,Aktif)
		SELECT  
			(SELECT DEGER FROM #TCNO WHERE ID = @I +1),
			(SELECT DEGER FROM #ISIM WHERE ID = @I +1),
			(SELECT DEGER FROM #SOYISIM WHERE ID = @I +1),
			(SELECT DEGER FROM #DOGUM WHERE ID = @I +1),
			(SELECT DEGER FROM #CINSIYET WHERE ID = @I +1),
			(SELECT DEGER FROM #TEL WHERE ID = @I + 1),
			(SELECT DEGER FROM #MAIL WHERE ID = @I + 1),
			@ODA_NO,1
		-- Rezervasyon kaydı için müşteri ıd alınması
		DECLARE @MUSTERID AS INT 
		SET @MUSTERID = SCOPE_IDENTITY()
		-- ilk, yani rezervasyonu yapan müsteri üstünden rezervasyon kaydının oluşturulması
		IF @I = 0 
		BEGIN
			SET @TARIH = GETDATE()
			-- @TUTAR değişkeni ucret fonksiyonunda hesaplanan ödeme tutarını tutar.
			DECLARE @TUTAR AS FLOAT 
			SET @TUTAR = (SELECT dbo.UCRET(0,@ODA_NO, DATEDIFF(DAY,@BASLANGICTARIHI,@BITISTARIHI), @EK_YATAK))
			-- rezervasyon kaydo oluşturuluyor
			INSERT INTO Rezervasyonlar(Musterı_Id,Oda_No,Rez_baslangic,Rez_bitis,Kisi_Sayisi,Rez_tarih)
			VALUES (@MUSTERID, @ODA_NO,@BASLANGICTARIHI,@BITISTARIHI,@KISI,@TARIH)
			DECLARE @REZID AS INT 
			SET @REZID = SCOPE_IDENTITY()
			-- ödeme tablosuna ödeme kaydı oluşturuluyor
			INSERT INTO ODEMELER(MUSTERI_ID, TUTAR)
			VALUES (@MUSTERID,@TUTAR)
			-- EK YATAĞIN MÜŞTERİ HİZMET TABLOSUNA KAYDI
			INSERT INTO MusteriHizmet(Musteri_id, Oda_No, Hizmetid, Adet)
			VALUES(@MUSTERID, @ODA_NO, 1, @EK_YATAK)
		END
		INSERT INTO RezMusteri([Musteri_Id], [Rez_Id], [Oda_No])
		VALUES (@MUSTERID, @REZID, @ODA_NO)
		SET @I = @I + 1
	END
	-- tutar ve rezervasyon numarasının müşteriye bildirilmesi
	PRINT CONCAT_WS(' ', 'ÖDENECEK TUTAR', @TUTAR, 'TL')
	PRINT CONCAT_WS(' ',@BASLANGICTARIHI, 'ile', @BITISTARIHI, 'tarihleri arasındaki rezervasyonunuz başarıyla oluşturuldu.')
	PRINT CONCAT_WS(' ', 'Rezervasyon numarası:', @REZID, 'LÜTFEN BU NUMARAYI SAKLAYINIZ!')

END

ELSE
BEGIN
	-- Odanın dolu olması veya belirtilen tarihlerde odaya farklı bir rezervasyon bulunması durumunda verilecek hata
	RAISERROR('Belirtilen oda dolu veya oda kapasitesi aşıldı!',16,1)
END




