USE [Otel]
GO
/****** Object:  UserDefinedFunction [dbo].[UCRET]    Script Date: 7.02.2025 22:53:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Konaklama ücretini hesaplamayı sağlayan fonksiyon
ALTER FUNCTION [dbo].[UCRET](@ISLEM AS TINYINT,@ODA_NO AS TINYINT, @KALINAN_GUN AS INT, @EK_YATAK AS TINYINT)
RETURNS FLOAT
AS
BEGIN
	DECLARE @GECELIK AS FLOAT
	DECLARE @RESULT AS FLOAT
	SET @GECELIK = (SELECT Gecelik_Ucret FROM Odalar WHERE @ODA_NO = Oda_No)

	IF (@ISLEM = 0)
	BEGIN
		-- kalınan gün 0 olursa ücret yanlış çıkacağı için kontrol
		IF @KALINAN_GUN = 0 
			SET @RESULT = @GECELIK + (300 * @EK_YATAK)
		ELSE
			SET @RESULT = (@GECELIK * @KALINAN_GUN) + (300 * @EK_YATAK)
	END
	RETURN @RESULT
END