USE [Otel]
GO
/****** Object:  UserDefinedFunction [dbo].[MUSAITODA]    Script Date: 7.02.2025 22:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[MUSAITODA](
@KISI SMALLINT,
@BASLANGIC DATE,
@BITIS DATE,
@EK_YATAK SMALLINT = 0)
RETURNS @TBL TABLE (
		ODANO TINYINT
)
AS 
BEGIN
		
		INSERT INTO @TBL(ODANO)
		SELECT O.Oda_No  
		FROM Odalar O
		WHERE @KISI <= O.Max_Kapasite 
		-- kişi sayısı maksimum kapasiteyi aşmamalı
		AND @KISI <= Max_Kapasite
		-- odanın ek yatak kapasitesi (makskapasite - mevcut kapasite) aşılmamalı
		AND (O.Max_Kapasite - O.Mevcut_Kapasite) >= @EK_YATAK
		-- ek yataklar gittiğinde kalan kişi sayısı mevcut kapasiteden küçük olmalı
		AND @KISI - @EK_YATAK <= Mevcut_Kapasite
		AND Oda_Durumu = 1 
		-- AYNI TARİHLERDE REZ BULUNUP BULUNMAMA
		AND NOT EXISTS (SELECT 1 
						FROM Rezervasyonlar R 
						WHERE R.Oda_No = O.Oda_No
						AND (
						@BASLANGIC BETWEEN R.Rez_baslangic AND R.Rez_bitis
						OR @BITIS BETWEEN R.Rez_baslangic AND R.Rez_bitis
						OR (@BASLANGIC <= R.Rez_baslangic AND @BITIS >= R.Rez_bitis)))			
		RETURN			
END