USE [Otel]
GO
/****** Object:  UserDefinedFunction [dbo].[ENYAKINREZ]    Script Date: 7.02.2025 22:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[ENYAKINREZ](@ODANO AS TINYINT)
RETURNS TINYINT
AS
BEGIN
    DECLARE @RESULT AS TINYINT;

    -- En yakın rezervasyon tarihi hesapla
    SELECT TOP 1 @RESULT = DATEDIFF(DAY, GETDATE(), Rez_baslangic) 
    FROM Rezervasyonlar  
    WHERE Oda_No = @ODANO 
    AND DATEDIFF(DAY, GETDATE(), Rez_baslangic) BETWEEN 0 AND 30
    ORDER BY Rez_baslangic ASC;

    -- Eğer @RESULT NULL ise 31 döndür
    RETURN IIF(@RESULT IS NULL, 31, @RESULT);
END;