USE [Otel]
GO
/****** Object:  UserDefinedFunction [dbo].[BUTONRENK]    Script Date: 7.02.2025 22:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[BUTONRENK](@ODA_NO TINYINT)
RETURNS CHAR(1)
AS
BEGIN 
	DECLARE @DURUM AS BIT, @KISI AS TINYINT
	SELECT @DURUM=Oda_Durumu, @KISI=Kisi_Sayisi FROM Odalar WHERE Oda_No = @ODA_NO
	
	IF (@DURUM = 1)
	BEGIN
		IF (@KISI > 0)
		BEGIN
			RETURN '0'
		END
		RETURN '1'
	END
	RETURN '-1'
	
END